body {
    position: absolute;
width: 1440px;
height: 211px;
left: 0px;
top: 0px;

background: url(header.png);

    margin: 0;
    padding: 0;
    background: wheat;
}

.homepage {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 0px;
    top: 210px;
    color: #FFFFFF;
    border-color: white;
    
    background: linear-gradient(180deg, #C700A6 0%, #95007D 50%, #BA019C 100%);

}

.homepage:hover {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 0px;
    top: 210px;
    color: rgb(255, 255, 255);
    border-color: white;
    
    background: linear-gradient(180deg, #95007D 0%, #C700A6 50%, #95007D 100%);

    
}

.football {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 240px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #C700A6 0%, #95007D 50%, #BA019C 100%);

}

.football:hover {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 240px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #95007D 0%, #C700A6 50%, #95007D 100%);
  
    
}

.nfl {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 480px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #C700A6 0%, #95007D 50%, #BA019C 100%);
 
}

.nfl:hover {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 480px;
    top: 210px;
    color: white;
    border-color: #FFFFFF;
    
    background: linear-gradient(180deg, #95007D 0%, #C700A6 50%, #95007D 100%);
 
}

.ncaa {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 720px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #C700A6 0%, #95007D 50%, #BA019C 100%);

}

.ncaa:hover {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 720px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #95007D 0%, #C700A6 50%, #95007D 100%);

    
}

.hakkimizda {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 960px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #C700A6 0%, #95007D 50%, #BA019C 100%);

}

.hakkimizda:hover {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 960px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #95007D 0%, #C700A6 50%, #95007D 100%);
 
    
}


.iletisim {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 1200px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #C700A6 0%, #95007D 50%, #BA019C 100%);
  
}

.iletisim:hover {
    box-sizing: border-box;

    position: absolute;
    width: 240px;
    height: 50px;
    left: 1200px;
    top: 210px;
    color: white;
    border-color: white;
    
    background: linear-gradient(180deg, #95007D 0%, #C700A6 50%, #95007D 100%);

}


.uye a {
    position: absolute;
width: 100px;
height: 24px;
left: 10px;
top: 16px;

font-family: 'Berlin Sans FB';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.uyea a {
    position: absolute;
width: 100px;
height: 24px;
left: 100px;
top: 16px;

font-family: 'Berlin Sans FB';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.stick {

    position: absolute;
width: 0px;
height: 25px;
left: 89px;
top: 16px;

border: 1px solid #FFFFFF;
}